{% extends 'base.html.twig' %}

{% block title %}Galerie{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1 class="text-center">Galerie</h1>

    <div class="section yellow-paragraph">
        <p>Venez visiter la boutique pour connaître la gamme complète du mois. Vous trouverez des
            nouveautés tous les jours
            N’HÉSITEZ PAS À NOUS DEMANDER QUEL EST LE PLAT DE LA SEMAINE!
        </p>
    </div>
    {# event-list #}
    <div class="row">
        {% for image in images %}
        <div class="row">
            {% for image in images %}
            <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                <img src="{{ asset(image.src) }}" class="img-fluid rounded fixed-size-image" alt="{{ image.alt }}"/>
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</div>

{% include 'components/findUs.html.twig' %}
{% endblock %}