/* app.css */
/* Variables */
:root {
    --background-color: black;
    --font-family: Arial, sans-serif;
    --line-height: 1.5;
    --margin-bottom-p: 8px;
    --border-color-hr: #fff;
    --margin-hr: 1.5rem;
    --text-color: white;
    --text-yellow: yellow;
    --text-primary: #007bff;
    --container-max-width: 1200px;
    --container-padding: 15px;
    --row-margin-bottom: 2rem;
    --img-border-radius: 5px;
    --btn-danger-bg: red;
    --btn-danger-border: #dc3545;
    --bg-light: #f8f9fa;
    --footer-bg: #333;
    --footer-color: #fff;
    --footer-padding: 20px;
    --footer-line-height: 1.2;
    --base-font-size: 16px;
    --font-scale: 1.2;
}

/* Global Styles */
body {
    background-color: var(--background-color);
    color: var(--text-color) !important;
    font-family: var(--font-family);
    line-height: var(--line-height);
    font-size: var(--base-font-size);
}

p {
    margin-bottom: var(--margin-bottom-p);
}

hr {
    border: 1px solid var(--border-color-hr);
    margin: var(--margin-hr) 0;
}

.text-yellow {
    color: var(--text-yellow);
    padding: 10px;
}

.bg-bleu {
    background-color: #3696db;
}

.text-white {
    color: var(--text-color) !important;
}

.text-black {
    font-size: calc(var(--base-font-size) * var(--font-scale) * 0.9);
}

.text-primary {
    color: var(--text-primary);
}

.text-justify {
    text-align: justify;
}

.text-end {
    text-align: right;
}

.text-sm {
    font-size: calc(var(--base-font-size) * var(--font-scale) * 0.875);
}

.text-md {
    font-size: calc(var(--base-font-size) * var(--font-scale));
}

/* Layout Styles */
.container {
    max-width: var(--container-max-width);
    margin: 0 auto;
    padding: 0 var(--container-padding);
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: var(--row-margin-bottom);
}

.row .col-md-6 {
    width: 45%;
}

.col-lg-6,
.col-md-12 {
    padding: 5vh 4vw;
}

/* Form Styles */
.form-container {
    padding: 5px;
    color: var(--text-color);
}

.form-group {
    margin-bottom: 10px;
}

.form-label {
    display: block;
    margin-bottom: 5px;
}

.form-control {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

.password-toggle {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;
    padding: 10px 0;
    background-color: var(--bg-light);
}
/* 
header nav.navbar {
    padding: 0;
    justify-content: center;
    flex-direction: row;
    gap: 15px;
}

header nav.navbar .nav-link {
    padding: 10px 15px;
    color: #fff;
    font-size: 16px;
}

header nav.navbar .nav-link:hover,
header nav.navbar .nav-link:focus {
    color: #ddd;
    background-color: #444;
    border-radius: 5px;
}

header nav.navbar .dropdown-menu {
    background-color: #333;
    border: none;
}

header nav.navbar .dropdown-item {
    color: #fff;
    font-size: 14px;
}

header nav.navbar .dropdown-item:hover,
header nav.navbar .dropdown-item:focus {
    background-color: #431717;
}


header nav.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    padding: 0;
    width: 100%;
    z-index: 1000;
}

header nav.navbar .navbar-nav {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

header nav.navbar .nav-item {
    position: relative;
    margin: 0 8px;
}

header nav.navbar .nav-link {
    padding: 10px 15px;
    color: #fff;
    font-size: 16px;
    text-decoration: none;
}

header nav.navbar .nav-link:hover,
header nav.navbar .nav-link:focus {
    color: #ddd;
    background-color: #444;
    border-radius: 5px;
}

header nav.navbar .dropdown-menu {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333;
    padding: 10px 0;
    border: none;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    z-index: 999;
}

header nav.navbar .dropdown:hover .dropdown-menu {
    visibility: visible;
    opacity: 1;
}

header nav.navbar .dropdown-item {
    color: #fff;
    font-size: 14px;
    padding: 10px 15px;
    white-space: nowrap;
    text-decoration: none;
}

header nav.navbar .dropdown-item:focus {
    background-color: #444;
} 
.dropdown-item-container {
    display: block;
}
 */


/* Style de survol pour les éléments du menu déroulant */
.dropdown-item:hover {
    background-color: #444;
    /* Couleur de fond légèrement rouge */
    /* color: #721c24; */
    /* Couleur du texte légèrement foncée pour contraste */
}

/* .dropdown-item.active, */
.dropdown-item:active {
    background-color: #f5c6cb;
    /* Couleur de fond au clic */
    color: #721c24;
    /* Couleur du texte au clic */
}


.logo,
.user-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 2rem;
}

header .logo img {
    margin: 0 auto;
    max-height: 70px;
}

header .message {
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
}


/* User icon alignment */
header .user-icon i {
    color: #fff;
}

/* .user-icon {
    font-size: calc(var(--base-font-size) * var(--font-scale) * 2);
    margin: 10px 0;
} */

/* Image Styles */
.image-container {
    margin: 20px 0;
    text-align: center;
    width: 600px;
    height: 300px;
}

.image {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    border: 1px solid #ccc;
    padding: 10px;
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: var(--img-border-radius);
}

/* Button Styles */
button.btn-primary {
    width: 100%;
}

.custom-btn {
    width: 80px;
    height: 40px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.375rem 0.75rem;
    font-size: calc(var(--base-font-size) * var(--font-scale));
    line-height: 1.5;
    border-radius: 0.25rem;
}

.btn-danger {
    background-color: var(--btn-danger-bg);
    border-color: var(--btn-danger-border);
}

.bg-light {
    background-color: var(--bg-light) !important;
}

.details-span {
    width: 80%;
}

.pagination {
    margin: auto;
    display: flex;
    justify-content: center;
}

/* Section Styles */
.section {
    margin-top: var(--row-margin-bottom);
}

.section.find-us {
    margin-top: 50px;
    text-align: center;
}

.section.find-us .google-map {
    margin-bottom: 20px;
}

.section .col-md-8,
.section .col-md-4 {
    flex: 0 0 auto;
    margin-bottom: var(--row-margin-bottom);
}

.section img {
    margin: 20px 0;
}

/* Footer Styles */
footer {
    background-color: var(--footer-bg);
    color: var(--footer-color);
    text-align: center;
    padding: var(--footer-padding);
    line-height: var(--footer-line-height);
}

.pagination .page-item .page-link {
    background-color: red;
    /* Change le fond des boutons */
    color: white;
    /* Change la couleur du texte */
    border-color: red;
    /* Change la couleur de la bordure */
}

.pagination .page-item.active .page-link {
    background-color: darkred;
    /* Change le fond des boutons actifs */
    border-color: darkred;
    /* Change la couleur de la bordure des boutons actifs */
}

.pagination .page-item:hover .page-link {
    background-color: #cc0000;
    /* Change la couleur au survol */
    border-color: #cc0000;
}

.pagination .page-item.disabled .page-link {
    background-color: #ffcccc;
    /* Change la couleur des boutons désactivés */
    color: white;
    border-color: red;
}

.card {
    height: 100%;
    min-height: 300px;
}

.card-title {
    white-space: nowrap;
    text-overflow: ellipsis;
}

.card-body.bg-black {
    background-color: black;
}

.card-body {
    padding: 0.6rem !important;
}

.card-img-left {
    float: left !important;
    margin-right: 15px;
  }

/* Responsive Styles */
@media (max-width: 480px) {
    footer {
        padding: 10px;
        font-size: 12px;
    }

    body {
        text-size-adjust: text-sm;
    }

    .presentation-photo {
        height: 200px;
        max-height: 350px;
        object-fit: cover;
    }
    .image-container {
        width: 100%;
        max-height: 200px;
        object-fit: cover;
        border-radius: 0;
    }

    .card-img-top {
        width: 100%;
        height: 15vw;
        object-fit: cover;
    }

    .card-body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0.1rem;
        max-height: 130px;
        overflow-y: auto;/
    }

    .card-title {
        font-size: 1em;
    }

    .btn-danger {
        font-size: 0.8em;
    }

    #btn-en-savoir-plus {
        display: inline-block;
        margin-top: 20px;
    }
}

@media (max-width: 575px) {

    .col-lg-4,
    .col-md-6 {
        flex: 0 0 100%;
    }

    .row .col-md-6 {
        width: 100%;
    }

    /* .navbar-nav .nav-item {
        margin-left: 8px;
        white-space: nowrap;
        margin-bottom: 5px;
        justify-content: center;
        width: 100%;
    } */

    .card {
        height: auto;
    }

    .fixed-size-image {
        height: 200px;
    }

    .footer {
        padding: 15px;
        font-size: 8px;
        line-height: 1;
    }
}
 
@media (max-width: 768px) {
/* 
    header nav.navbar {
        flex-direction: column;
    }

    header nav.navbar .navbar-nav {
        flex-direction: column;
        align-items: center;
    }

    header nav.navbar .nav-item {
        margin: 8px 0;
    }

    header nav.navbar .dropdown-menu {
        display: none;
        flex-direction: column;
        position: static;
        visibility: hidden;
        opacity: 1;
        width: 100%;
    } 

    header nav.navbar .dropdown-item {
        text-align: center;
    }

    .dropdown-menu.show {
        display: block;
    }     */
}

@media (min-width: 768px) {
    /* header nav.navbar .dropdown-menu {
        position: absolute;
        top: 100%;
        left: 0;
        padding: 10px 0;
        border: none;
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.3s ease, visibility 0.3s ease;
        z-index: 999;
    }

    header nav.navbar .dropdown:hover .dropdown-menu {
        visibility: visible;
        opacity: 1;
    }

    header nav.navbar .dropdown-item {
        font-size: 14px;
        padding: 10px 15px;
        white-space: nowrap;
        text-decoration: none;
    } */

    .middle-section {
        /* width: 80vw; */
        max-width: 80vw;
    }

}