/* public/css/styles.css */
:root {
    --secondary-color: #2C3E50;
    --white: #FFFFFF;
    --black: #000000;
    --blue-accesibilite: #3696db;
    --dark-blue: #0b3c6c;
    --orange: #FF5733;
    --red: #ff0000;
    --yellow: #FFD700;
    --light-green: #DAF7A6;
    --light-gray: #e7e3e3;
    --dark-gray: #656565;

    /* Typographie */
    --base-font-size: 16px;
    --font-family: 'Montserrat', sans-serif;
    --font-scale: 1.2;
    --line-height: 1.6;

    /* Marges et paddings */
    --margin-bottom-p: 8px;
    --margin-hr: 1.5rem;
    --row-margin-bottom: 2rem;
    --footer-padding: 20px 0;
    --footer-line-height: 1.2;
    --img-border-radius: 0.5rem;

    --container-max-width: 1200px;
}

/* -- Styles Globaux ------------------------- */
body {
    font-family: var(--font-family);
    font-size: var(--base-font-size);
    line-height: var(--line-height);
}

p {
    margin-bottom: var(--margin-bottom-p);
    text-align: justify;
}

/* Typographie */
h1 {
    font-size: 1.75rem;
    font-weight: bold;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--dark-gray);
    font-family: var(--font-family);
}

h2,
h3,
h4 {
    font-size: 1.25rem;
    font-weight: 600;
}

.text-xs {
    font-size: 0.8rem;
}

.col {
    padding: 0.5rem;
}

.col-md-6 {
    flex: 0 0 48%;
    margin-bottom: 1rem;
    padding: 1rem;
    box-sizing: border-box;
}

.col-lg-6,
.col-md-12 {
    padding: 5vh 4vw;
}

/* Boutons */
.btn-primary {
    width: 100%;
}

.btn-search {
    width: auto;
}

/* --------CARD ----*/
/* Dégradés pour le body et le titre de la carte */
.card-gradient {
    background: linear-gradient(235deg, var(--light-gray) 0%, var(--dark-gray) 200%);
}

.card-gradient-bleu {
    background: linear-gradient(235deg, var(--blue-accesibilite) 20%, var(--light-gray) 200%);
}

body:not(.galerie-page) .card {
    height: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}

body:not(.galerie-page) .card-body {
    flex-grow: 1;
}

/* General container styles */
body:not(.galerie-page) .container {
    /* max-width: var(--container-max-width); */
    margin: 0 auto;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}

/* Images */
.img {
    width: 80%;
    height: auto;
    object-fit: cover;
}

.image-container img {
    max-width: 100%;
    border-radius: var(--img-border-radius);
}

/* Layout for galerie page */
.galerie-page .container {
    max-width: var(--container-max-width);
    margin: 0 auto;
}

.galerie-page .row {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* justify-content: space-between; */
}

.galerie-page .card {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.galerie-page .card-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Images dans les cartes */
.produits-container .fixed-size-image {
    object-fit: cover;
    border-radius: var(--img-border-radius);
}

/* ------------------------- Formulaires ------------------------- */
.form-container {
    padding: 5px;
    /* background-color: var(--dark-gray); */
    /* color: var(--light-gray); */
}

.form-control {
    /* .form-control, .form-control-search { */
    border: 1px solid var(--dark-blue);
    /* border: 1px solid var(--light-green); */
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
    line-height: var(--line-height);
}

.form-control{
    max-width: 600px;
}

.form-control-search{
    flex: 1;
    min-width: 0;
    /* max-width: 800px; */
}

.form-control:focus, .form-control-search:focus {
    border-color: var(--orange);
    box-shadow: 0 0 0 0.2rem var(--orange);
}

/* validation */
.is-invalid {
    border-color: #dc3545;
}

.invalid-feedback {
    color: #dc3545;
    font-size: 0.875em;
    margin-top: 0.25em;
}

.invalid-feedback.d-none {
    display: none;
}

.input-group {
    display: flex;
    align-items: center;
    flex-wrap:nowrap;
    width: 100%;
  }


/* .btn-primary {
    width: auto;
} */

/* ------------------------- Menu ------------------------- */
.navbar,
.nav-link,
.dropdown-item {
    margin: auto;
    /* color: var(--black) !important; */
    color: var(--white) !important;
}

.navbar-toggler {
    background-color: var(--white);
}

.navbar-toggler:hover,
.navbar-toggler-icon:hover,
.social-link-icon:hover {
    background-color: var(--yellow);
}

.dropdown-item:hover {
    background-color: var(--dark-gray);
}

.nav-item.active {
    font-weight: bold;
    color: var(--black) !important;
}

.bg-blue {
    background-color: var(--blue-accesibilite) !important;
}

.bg-grey {
    background-color: var(--light-gray) !important;
}

.bg-secondary {
    background-color: var(--secondary-color) !important;
    color: var(--white);
}

/* ------------------------- Footer ------------------------- */
.footer {
    color: var(--white);
    padding: var(--footer-padding);
    line-height: var(--footer-line-height);
}

.footer-title,
.text-yellow {
    color: var(--yellow);
}

.footer a {
    color: var(--white);
}

.footer-links a {
    font-size: 1rem;
    padding: 12px 12px;
    display: inline-block;
}

.footer .list-inline-item a:hover {
    color: var(--yellow);
}

.social-link-icon {
    width: 2rem;
    height: 2rem;
}

.social-link {
    margin: 0 1rem;
}

/* ------------------------- SEO et Accessibilité ------------------------- */
a:focus,
button:focus,
.form-control:focus {
    outline: 2px solid var(--blue-accesibilite);
    outline-offset: 2px;
    color: var(--black);
    background: var(--light-gray);
}
  /* Barre de recherche */
  .search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    width: 100%; 
    max-width: 600px; 
    margin: 0 auto; 
}
.nav-link:focus,
.dropdown-item:focus {
    color: var(--black) !important;
    background-color: var(--light-gray);
}

.password-toggle {
    position: absolute;
    right: 10px;
    top: 60%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 2;
}

@keyframes scroll-left {
    0% {
        transform: translateX(100%);
    }

    70% {
        transform: translateX(-50%);
    }
}

.scrolling-text {
    overflow: hidden;
    white-space: nowrap;
    animation: scroll-left 20s linear 2;
}

/* .sticky-top {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        z-index: 1020;
    } */

/* ------------------------- Styles Responsives ------------------------- */
@media (max-width: 480px) {
    /*
    body {
        font-size: 0.875em;
    }

        .btn-primary {
            font-size: 0.8em; 
        }
    
        footer, .footer {
            padding: 15px; 
            line-height: 1.4; 
        }
    
        .footer-link, .social-link {
            padding: 15px;
            margin: 8px;
            text-decoration: none;
        }
    
        .footer-links a {
            font-size: 1.1rem; 
            padding: 16px 20px; 
            display: inline-block; 
        } */
}

/* Petits écrans : jusqu'à 575px */
@media (max-width: 575px) {
    /*     .row {
        justify-content: center;
    }

    .col {
        display: flex;
        justify-content: center;
    }

.card {
            margin: 1rem 0;
        } */

    /* h1 {
            font-size: 2rem; 
        }
    
        .row .col-md-6, .col-md-12 {
            width: 100%; 
        }
    
        .fixed-size-image {
            width: 80%;
            margin: 0 auto;
            max-height: 250px; 
        } */
}

/* Moyens écrans : jusqu'à 768px */
@media (max-width: 768px) {
    .fixed-size-container {
        height: 500px;
        /* Définir une hauteur fixe */
    }

    /* .card-body {
        height: auto;
    }

    .card-title {
        font-size: 1.2rem;
    }

    .card-text {
        font-size: 0.9rem;
    }

    .image-container img,
    img {
        max-width: 100%;
        height: auto;
    }

    .col-md-6 {
        width: 100%;
    }

    .card-img-top img {
        max-width: 100%;
        height: auto;
    } */
}

/* Grands écrans : à partir de 992px */
@media (min-width: 992px) {
    .fixed-size-container {
        height: 600px;
        /* Définir une hauteur fixe */
    }

    /*  .fixed-size-image {
            height: auto;
        }
    
         .navbar .col-2 {
            flex: 0 0 15%; 
        }
    
        .navbar .col-7 {
            flex: 0 0 70%; 
        }
    
        .navbar .col-1 {
            flex: 0 0 15%; 
        }
    
        .middle-section {
            max-width: 80vw; 
        }
    
        .image-container {
            width: auto; 
            height: auto;
        }
    
        h4 {
            font-size: 1rem;
        }
    
        p {
            font-size: 14px;
        }
    
        .scrolling-text {
            display: none; 
        }
    
        .row {
            gap: 1rem; 
        }
    
        .container-fluid {
            padding: 1rem; 
        } */
}