{% extends 'base.html.twig' %}

{% block title %}New Produit{% endblock %}

{% block body %}
    <h1>Créer un nouveau produit</h1>

    {{ include('produit/_form.html.twig') }}

    <a href="{{ path('app_produit_index') }}">Retour à la liste</a>

	{# JavaScript pour la prévisualisation de l'image #}
	{# Le script écoute l'événement change sur l'input de fichier. #}
	{# Lorsqu'un fichier est sélectionné, il utilise FileReader pour lire le fichier et mettre à jour l'élément img à l'intérieur de #image-preview. #}
		<script>
        document.addEventListener('DOMContentLoaded', function () {
            const imageInput = document.querySelector('#{{ form.photo1.vars.id }}');
            const imagePreview = document.querySelector('#image-preview img');

            imageInput.addEventListener('change', function (event) {
            console.log('Image input changed');                
        if (event.target.files && event.target.files[0]) {
                    const reader = new FileReader();
                    reader.onload = function (e) {                c
                    onsole.log('FileReader loaded');
                        imagePreview.src = e.target.result;
                    };
                    reader.readAsDataURL(event.target.files[0]);
                } else {

            console.log('No file selected, using default image');
            imagePreview.src = '{{ asset('/images/' ~ produit.photo1) }}';
                }
            });

            const saveButton = document.querySelector('.btn-primary');
            const backToListButton = document.querySelector('.btn-secondary');
            const formElements = document.querySelectorAll('input[type="text"], textarea');

            saveButton.disabled = true;

            function checkFormChanges() {
                let formChanged = false;
                formElements.forEach(element => {
                    if (element.value !== element.defaultValue) {
                        formChanged = true;
                    }
                });
                saveButton.disabled = !formChanged;
                console.log('Form changed:', formChanged);
            }

            formElements.forEach(element => {
                element.addEventListener('input', checkFormChanges);
            });

            backToListButton.addEventListener('click', function (event) {
                if (!saveButton.disabled && !confirm('Vous avez des modifications non enregistrées. Êtes-vous sûr de vouloir quitter cette page ?')) {
                    event.preventDefault();
                }
            });
        });
    </script>
{% endblock %}
