{% extends 'base.html.twig' %}
{# templates/produit/new.html.twig #}

{% block body %}
<div class="container form-container">
    <h1 class="text-white">Créer un nouveau Produit</h1>
    {% include 'produit/_form.html.twig' with {'form': form, 'produit': null, 'button_label': 'Créer'} %}
    <a href="{{ path('app_produit_index') }}" class="btn btn-secondary">Retour à la liste</a>
</div>
{% endblock %}
