{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Créer un nouvel Événement</h1>
        {% include 'evenement/_form.html.twig' with {'form': form, 'button_label': 'Créer'} %}
        <a href="{{ path('app_evenement_index') }}" class="btn btn-secondary mt-3">Retour à la liste</a>
    </div>
{% endblock %}
