{# templates/evenement/new.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Nouvel événement{% endblock %}

{% block body %}
    <div class="container form-container">
        <h1>Créer un nouvel Événement</h1>
        {% include 'evenement/_form.html.twig' with {'button_label': 'Créer'} %}
        <a href="{{ path('app_evenement_index') }}" class="btn btn-secondary">Retour à la liste</a>
    </div>
{% endblock %}
