body {
    background-color: rgb(244, 216, 216);
    font-family: Arial, sans-serif;
}

.form-container {
    background-color: #212121;
    padding: 5px;
    color: #fff;
}

.form-group {
    margin-bottom: 10px;
}

.form-label {
    display: block;
    margin-bottom: 5px;
}

.form-control {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

/* .navbar {
    background-color: #333;
    color: white;
}

.navbar-nav .nav-item .nav-link i.fas.fa-user {
    font-size: 1.2em;
}
*/
/* .row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.row .col-md-6 {
    width: 45%;
} */

/*
.card {
    height: 100px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
} */



/* .image {
    height: 40vh;
} */

/* .details-span {
    width: 80%;
}


button.btn-primary {
    width: 100%;
} 

.password-toggle {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

button.btn-primary {
    width: 100%;
} */

/* Commun aux mains */
/* 
.container {
    flex-grow: 1;
    width: 96%;
    max-width: 100%;
    margin: 3vh auto;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
} */

/* .col-lg-6,
.col-md-12 {
    padding: 5vh 2vw;
} */

.border-right.border-danger {
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    width: 1px;
    /* Adjust the width if needed */
}

.image-container {
    text-align: center;
    margin-bottom: 10px;
}

.image {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    border: 1px solid #ccc;
    padding: 10px;
}

.image-name {
    font-weight: bold;
    margin-top: 5px;
}

.custom-btn {
    width: 100px;
    /* Fixez la largeur */
    height: 32px;
    /* Fixez la hauteur */
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Style de base pour le footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    line-height: 1.2; /* Réduit l'espacement entre les lignes */
}

/* Media query pour les petits écrans */
@media (max-width: 480px) {
    footer {
        padding: 10px;
        font-size: 12px;
        line-height: 1.2;
    }
}

/* Pour les écrans de taille extra-petite (téléphones) */
@media (max-width: 575px) {
    .footer {
        text-align: center;
        padding: 15px;
        font-size: 8px;
        line-height: 1;
    }
}
/* Media query pour les écrans de taille moyenne */
@media (max-width: 768px) {
    footer {
      padding: 15px;
      font-size: 14px;
      line-height: 1; /* Ajuste l'espacement pour les écrans moyens */
    }
    .col-md-3 {
        flex: 0 0 100%;
        /* Faire en sorte que chaque colonne occupe 100% de la largeur */
    }
}
/* Pour les écrans de taille petite (tablettes) */
@media (min-width: 576px) and (max-width: 767px) {
    /* Vos styles spécifiques pour les tablettes ici */
    /* Par exemple, vous pouvez ajuster la taille des colonnes ou modifier la disposition */
}


/* @media (max-width: 768px) {
    .border-right.border-danger {
        display: none;
        /* Hide the line on small screens */
        .text-yellow {
            color: yellow;
            background-color: black;
            padding: 10px;
        }
        
        .event-card {
            border: 1px solid #ddd;
            border-radius: 10px;
            overflow: hidden;
        }
        
        .card-header.bg-gradient-gray {
            background: linear-gradient(45deg, #ccc, #eee);
            padding: 10px;
            font-weight: bold;
        }
        
        .event-photo {
            width: 100%;
            height: 60%;
            object-fit: cover;
        }
        
        .event-title {
            margin: 10px 0;
        }
        
        .detail-row {
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;
        }
        
        .pagination .pagination {
            justify-content: center;
        }
        
        .section.find-us {
            margin-top: 50px;
            text-align: center;
        }
        
        .section.find-us .google-map {
            margin-bottom: 20px;
        }

        