/* Global Styles */
body {
    background-color: black;
    color: white !important;
    font-family: Arial, sans-serif;
    line-height: 1.5;
}

/* Form Styles */
.form-container {
    padding: 5px;
    color: #fff;
}

.form-group {
    margin-bottom: 10px;
}

.form-label {
    display: block;
    margin-bottom: 5px;
}

.form-control {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

.password-toggle {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

/* Navbar Styles */
.navbar {
    background-color: #853131;
    color: white;
}

.navbar-nav .nav-item .nav-link i.fas.fa-user {
    font-size: 1.2em;
}

/* Layout Styles */
.container {
    flex-grow: 1;
    width: 96%;
    max-width: 100%;
    margin: 3vh auto;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.row .col-md-6 {
    width: 45%;
}

.col-lg-6,
.col-md-12 {
    /* padding: 5px; */
    padding: 5vh 4vw;
}

.border-right.border-danger {
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    width: 1px;
}

c .text-black {
    color: black;
}

p {
    margin-bottom: 8px;

    /* Reduced margin for better spacing */
}

/* Additional Styles */
.image-container {
    text-align: center;
    margin-bottom: 10px;
}

.image {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    border: 1px solid #ccc;
    padding: 10px;
}

.image-name {
    font-weight: bold;
    margin-top: 5px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.details-span {
    width: 80%;
}

button.btn-primary {
    width: 100%;
}

.custom-btn {
    width: 100px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    line-height: 1.2;
}

.text-yellow {
    color: yellow;
    padding: 10px;
}

.text-white {
    color: white !important;
}

.text-black {
    font-size: 0.9em;
    /* Smaller font size for text on small screens */
}

.text-primary {
    color: #007bff;
}
.card-title {
    margin-bottom: 0;
}

.btn-danger {
    background-color: red;
    border: none;
}

.bg-light {
    background-color: #f8f9fa !important;
}

presentationagination {
    margin: auto;
    display: flex;
    justify-content: center;
}

.section.find-us {
    margin-top: 50px;
    text-align: center;
}

.section.find-us .google-map {
    margin-bottom: 20px;
}

@media (max-width: 480px) {
    footer {
        padding: 10px;
        font-size: 12px;
        line-height: 1.2;
    }

    .event-card {
        height: auto;
        /* Make the card height auto for smaller screens */
        margin-bottom: 20px;
        /* Add margin bottom for spacing */
    }

    .event-photo {
        height: 200px;
        /* Smaller height for images on small screens */
        object-fit: cover;
        /* Ensure the image covers the area */
    }

    .event-title {
        font-size: 1.2em;
        /* Smaller font size for titles on small screens */
    }


    .btn-danger {
        font-size: 0.8em;
        /* Smaller font size for button text on small screens */
    }
}

@media (max-width: 575px) {
    .footer {
        text-align: center;
        padding: 15px;
        font-size: 8px;
        line-height: 1;
    }

    .row .col-md-6 {
        width: 100%;
        /* Make column full width on small screens */
    }

    .event-card {
        margin-bottom: 15px;
        /* Adjust margin for smaller screens */
    }

    .event-photo {
        height: 150px;
        /* Adjust image height for smaller screens */
    }

    .event-title {
        font-size: 1em;
        /* Adjust font size for smaller screens */
    }

    @media (max-width: 768px) {
        footer {
            padding: 15px;
            font-size: 14px;
            line-height: 1;
        }

        .col-md-3 {
            flex: 0 0 100%;
        }

        .event-photo {
            height: 250px;
            /* Adjust image height for medium screens */
        }

        .event-title {
            font-size: 1.5em;
            /* Adjust font size for titles on medium screens */
        }

        .text-black {
            font-size: 1em;
        }
    }
}