{# templates/base.html.twig #}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('css/app.css') }}">
        <script src="{{ asset('js/app.js') }}" defer></script>
        {% block stylesheets %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </head>
    <body>
        {% if app.request.get('_route') != 'app_login' %}
            {% block header %}
                {% include 'components/header.html.twig' %}
            {% endblock %}
        {% endif %}
        <main>
            {% block body %}{% endblock %}
        </main>
        {% if app.request.get('_route') != 'app_login' %}
            {% block footer %}
                {% include 'components/footer.html.twig' %}
            {% endblock %}
        {% endif %}
    </body>
</html>
