<footer class="footer mt-auto py-3 bg-dark text-white sticky-bottom">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <h5>Contact</h5>
          <p><i class="fas fa-phone"></i> +33 4 57 93 31 47 / 06 12 02 34 35</p>
          <p><i class="fas fa-envelope"></i> Mail: latiendagrenoble@gmail.com</p>
          <p><i class="fab fa-instagram"></i> Instagram: lamomposinatiendalatina</p>
          <p><i class="fab fa-facebook"></i> Facebook: La Momposina Tienda Latina</p>
        </div>
        <div class="col-md-3">
          <h5>Adresse</h5>
          <p>La Momposina Tienda Latina</p>
          <p>107 Cours Jean Jaurès</p>
          <p>Grenoble 38000, France</p>
        </div>
        <div class="col-md-3">
          <h5>Heures d'ouverture</h5>
          <p>Du Mardi au Samedi</p>
          <p>Matin : 10h - 13h</p>
          <p>Après-midi : 15h30 - 19h30</p>
        </div>
        <div class="col-md-3">
          <h5>Suivez Nous !</h5>
          <a href="https://www.facebook.com" class="text-white"><i class="fab fa-facebook fa-lg"></i></a>
          <a href="https://www.instagram.com" class="text-white"><i class="fab fa-instagram fa-lg"></i></a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <ul class="list-inline text-center justify-content-center"> <li class="list-inline-item"><a href="#" class="text-white">Mentions légales</a></li>
            <li class="list-inline-item"><a href="#" class="text-white">Politique de confidentialité</a></li>
            <li class="list-inline-item"><a href="#" class="text-white">Paramètres des cookies</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  