<footer class="footer bg-secondary mt-auto py-1">
  <div class="container">
    <div class="row justify-content-center my-1">
      <!-- Section Contact -->
      <div class="col-md col-12 mb-3 p-0">
        <h4 class="footer-title">
          Contact
        </h4>
        <!-- Téléphone -->
        <div class="mb-2">
          <img src="{{ asset('icons/telephone-inbound-fill.svg') }}" alt="Téléphone" class="pl-2 pr-2">
            Téléphone :
            <br>
              <p>
                + 33 4 57 93 31 47
              </p>
              <p>
                + 33 6 12 02 34 35
              </p>
            </div>
            <!-- Email -->
            <div class="mb-2">
              <img src="{{ asset('icons/envelope-at-fill.svg') }}" alt="Email" class="pl-2 pr-2">
                Mail :
                <a href="mailto:latiendagrenoble@gmail.com">
                  latiendagrenoble@gmail.com
                </a>
              </div>
            </div>
            <!-- Section Adresse -->
            <div class="col-md col-12 mb-3 py-1">
              <h4 class="footer-title">
                Adresse
              </h4>
              <p>
                La Momposina Tienda Latina
              </p>
              <p>
                107 Cours Jean Jaurès
              </p>
              <p>
                Grenoble 38000, France
              </p>
            </div>
            <!-- Section Horaires -->
            <div class="col-md col-12 mb-3">
              <h4 class="footer-title">
                Heures d'ouverture
              </h4>
              <p>
                Du Mardi au Samedi
              </p>
              <p>
                Matin : 10h - 13h
              </p>
              <p>
                Après-midi : 15h30 - 19h30
              </p>
            </div>
            <!-- Section Réseaux sociaux -->
            <div class="col-md col-12 pr-0">
              <h4 class="footer-title mb-3">
                Suivez Nous!
              </h4>
              <ul class="list-unstyled d-flex col-md-justify-content-between">
                <li class="mr-3">
                  <a href="https://www.facebook.com/LaMomposinaTiendaLatina" class="social-link" target="_blank">
                    <img src="{{ asset('icons/facebook.svg') }}" alt="Facebook" class="social-link-icon"></a>
                  </li>
                  <li>
                    <a href="https://www.instagram.com/la_momposina_tienda_latina/" class="social-link" target="_blank">
                      <img src="{{ asset('icons/instagram.svg') }}" alt="Instagram" class="social-link-icon"></a>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <!-- Footer Links -->
            <div class="row mt-1">
              <div class="col-12">
                <ul class="list-inline text-center footer-links">
                  <li class="list-inline-item">
                    <a href="#" class="footer-link d-block mb-2">
                      Mentions légales
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a href="#" class="footer-link d-block mb-2">
                      Politique de confidentialité
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a href="#" class="footer-link d-block">
                      Paramètres des cookies
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </footer>
        