{# templates/menu/index.html.twig #}

<ul class="navbar-nav">
    {% for categorie in categories %}
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown{{ categorie.id }}" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ categorie.nom }}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown{{ categorie.id }}">
                {% for sousCategorie in categorie.sousCategories %}
                    <a class="dropdown-item" href="#">{{ sousCategorie.nom }}</a>
                {% endfor %}
            </div>
        </li>
    {% endfor %}
</ul>
